@import './_vars';

@function ems($target, $base: $mainFontSize) {
  @return $target / $base * 1em;
}

@function rems($target, $base: $mainFontSize) {
  @return $target / $base * 1rem;
}

@function colors($name) {
    @return map-get($map: $colors, $key: $name);
}

@function colors-light($name) {
    @return map-get($map: $colorslight, $key: $name);
}

@function typedSelector($prefix) {
  $selector: ();
  @each $name, $value in $types {
      $selector: append($selector, #{$prefix + $name});
  }
  @return join($selector, (), comma);
}

@function typed($prefix) {
  $selector: ();
  @each $name, $value in $types {
      $selector: map-merge($map1: $selector, $map2: (#{$prefix + $name} : $name));
  }
  @return $selector;
}

@function joinedSelector($list, $prefix) {
  $selector: ();
  @each $value in $list {
    $selector: append($selector, #{$prefix + $value});
  }
  @return join($selector, (), comma);
}