// Colors
$types: ('primary', 'alter', 'main', 'bond', 'warning', 'soft', 'success');

$colors: ('success': #19ac50,"primary":#5E81F4, "alter":#0CC3E7, "main": #3D41D7, "bond": #FFAE33, "warning": #ff3f6d, "gloom": #9e9e9e, "soft": #ebebeb, "softer" : #f5f5f5, "light" : #fff);
$colorslight: ('success': rgba(43, 242, 126, .2),'primary': rgba(94, 129, 244, 0.1), "alter": rgba(12, 195, 231, 0.18), "main": rgba(34, 37, 169, 0.2), "bond" : rgba(255, 166, 33, .22), "warning" : rgba(255, 63, 149, 0.3), "gloom": rgba($color: #9e9e9e, $alpha: .3), "soft": rgba($color: #e5e5e5, $alpha: .3), "softer": rgba($color: #f5f5f5, $alpha: .3));
// Font
$mainFontSize: 16;

$mainBgColor: #fff;

$mainRadius: 7px;
$containerRadius: 20px;

@mixin rootStyles {
    --primary: #{colors('primary')};
    --alter: #{colors('alter')};
    --main: #{colors('main')};
    --bond: #{colors('bond')};
    font-size: #{$mainFontSize + 'px'};
}

// Sider
$siderBgColor: transparent;
// Content
$contentBgColor: #fff;

$cardBg: colors('soft');
$cardShadow: 0px 14px 34px rgba(34, 37, 169, 0.2);