@import './_vars';
@import './_functions';
@import './_components';

body {
  background: $mainBgColor;
  font-size: #{$mainFontSize + 'px'};
}

:root {
  @include rootStyles();
}

.touchdot {
  &-app {
    &-main__layout {
      min-height: 100vh;
      background: transparent;
    }

    &-sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 0 ems(15) 0;
      background-color: $siderBgColor;
      font-size: ems(16);
      border-right: 1px solid #f5f5f5;

      &-content {
        height: 100%;
        background: transparent;
      }
    }

    &-content {
      background-color: $contentBgColor;
      padding: ems(30) ems(50);
    }

    &-logotype {
      padding: ems(30) ems(40) 0;
      border-radius: $mainRadius;

      >img {
        width: 100%;
      }

      &-divider {
        margin: ems(30) 0;
      }
    }

    &-tools {
      padding-bottom: ems(30);
      text-align: center;
    }
    
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-container {
    border-radius: $containerRadius;
    padding: ems(30);
    background: $cardBg;
  }
  &-page {
    &-header {
      font-weight: bold;
      font-size: ems(42);
      color: black;
    }
    &-tools {
      padding: ems(20) 0;
      
    }
  }

  &-menu {
    $menuTextColor: colors('gloom');
    $activeItemIconColor: colors('primary');

    $menu: &;

    padding: ems(30) 0;
    border-right: none;
    color: $menuTextColor;
    flex: 1 1 auto;
    font-size: inherit;

    a {
      color: inherit;
    }

    &-icon {
      font-size: inherit !important;
    }

    &-item {
      border-radius: $mainRadius;

      &-selected {
        background: colors-light('primary') !important;
        color: black;
      }
    }

    #{$menu}-item-selected #{$menu}-icon {
      color: $activeItemIconColor;
    }
  }

  &-loader {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;

    &-arrow {
      width: ems(60);
      position: absolute;
      top: 50%;
      left: 50%;
      animation: speeder .4s ease-in-out infinite;
    }

    &-title {
      $offset: ems(50);
      font-weight: bold;
      position: absolute;
      top: calc(50% + #{$offset});
      left: 50%;
      transform: translate(-50%, -50%);
      color: colors('alter');
    }
  }
}

.body {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  animation: speeder .4s linear infinite;

  >span {
    height: 5px;
    width: 35px;
    position: absolute;
    top: -3px;
    left: ems(30);
  }
}

.body>span>span:nth-child(1),
.body>span>span:nth-child(2),
.body>span>span:nth-child(3),
.body>span>span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: colors('bond');
  position: absolute;
  animation: fazer1 .2s linear infinite;
}

.body>span>span:nth-child(2) {
  top: 10px;
  animation: fazer2 .4s linear infinite;
}

.body>span>span:nth-child(3) {
  top: -5px;
  left: ems(20);
  animation: fazer3 .4s linear infinite;
  animation-delay: -1s;
}

.body>span>span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }

  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }

  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }

  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }

  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(calc(-50% + 2px), calc(-50% + 1px)) rotate(0deg);
  }

  10% {
    transform: translate(calc(-50% + -1px), calc(-50% + -3px)) rotate(-1deg);
  }

  20% {
    transform: translate(calc(-50% + -2px), calc(-50% + 0px)) rotate(1deg);
  }

  30% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px)) rotate(0deg);
  }

  40% {
    transform: translate(calc(-50% + 1px), calc(-50% + -1px)) rotate(1deg);
  }

  50% {
    transform: translate(calc(-50% + -1px), calc(-50% + 3px)) rotate(-1deg);
  }

  60% {
    transform: translate(calc(-50% + -1px), calc(-50% + 1px)) rotate(0deg);
  }

  70% {
    transform: translate(calc(-50% + 3px), calc(-50% + 1px)) rotate(-1deg);
  }

  80% {
    transform: translate(calc(-50% + -2px), calc(-50% + -1px)) rotate(1deg);
  }

  90% {
    transform: translate(calc(-50% + 2px), calc(-50% + 1px)) rotate(0deg);
  }

  100% {
    transform: translate(calc(-50% + 1px), calc(-50% + -2px)) rotate(-1deg);
  }
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;

  span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: colors('primary');

    &:nth-child(1) {
      top: 20%;
      animation: lf .6s linear infinite;
      animation-delay: -5s;
      background: colors('bond');
    }

    &:nth-child(2) {
      top: 40%;
      animation: lf2 .8s linear infinite;
      animation-delay: -1s;
      background: colors('alter');
    }

    &:nth-child(3) {
      top: 60%;
      animation: lf3 .6s linear infinite;
      background: colors('bond');
    }

    &:nth-child(4) {
      top: 80%;
      animation: lf4 .5s linear infinite;
      animation-delay: -3s;
      background: colors('alter');
    }
  }
}

@keyframes lf {
  0% {
    left: 200%;
  }

  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 200%;
  }

  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 200%;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 200%;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}