.touch {
  &-btn {
    $button: &;
    &-group {
      display: grid;
      column-gap: 10px;
      grid-auto-columns: min-content;
      grid-auto-flow: column;
      &-end {
        justify-content: end;
      }
    }
  }
}