@import '../../styles/_functions';

.touch-badge {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  &-dot {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 100%;
    transform: translate(calc(50% + 1px), calc(-50%));
    animation: badge-shake 1.5s forwards linear;
    @keyframes badge-shake {
      30% {
        transform: translate(calc(50% + 1px), calc(-50%)) scale(.8);
      }
      40% {
        transform: translate(calc(50% + 1px), calc(-50%)) scale(1.3);
      }
      50% {
        transform: translate(calc(50% + 1px), calc(-50%)) scale(.9);
      }
      60% {
        transform: translate(calc(50% + 1px), calc(-50%)) scale(1.3);
      }
      70% {
        transform: translate(calc(50% + 1px), calc(-50%)) scale(.9);
      }
      80% {
        transform: translate(calc(50% + 1px), calc(-50%));
      }
    }
    $types: typed(#{& + '-'}); 
    @each $badge, $type in $types {
      &#{$badge} {
        $bgc: colors($type);
        background-color: $bgc;
      }
    }
  }
}