@import "../../styles/_vars";
@import "../../styles/_functions";

.touchdot {
  &-uploader {
    width: auto;
    height: auto;
    &-overlay {
      position: fixed;
      z-index: 200;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      $background: colors('primary');
      background: transparentize($color: $background, $amount: .6);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      animation: fadeIn .3s ease-out forwards;
      &-icon {
        font-size: ems(84);
        color: colors('primary');
      }
      &-caption {
        font-size: ems(22);
        color: colors('primary');
        font-weight: bold;
      }
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}