@import "../../styles/_vars";
@import "../../styles/_functions";

.touchdot {
    $app: &;
    &-file {
        display: flex;
        align-items: center;
        padding: ems(6) 0;
        margin-bottom: ems(3);
        border-radius: $mainRadius;
        transition: background-color .2s;
        &:hover, &.checked {
            background-color: colors-light('soft');
        }
        $self: &;
        &-checkbox {
            color: colors('main');
            width: 24px;
            height: 24px;
            font-size: ems(14);
            border: 1px solid colors('soft');
            border-radius: 100%;
            margin: 0 ems(15);
            text-align: center;
            background: white;
            box-shadow: 0 5px 10px -3px colors-light('main');
            cursor: pointer;
            @at-root {
                #{$self + '.checked'} & {
                    border-color: colors('primary');
                    background-color: colors('primary');
                    box-shadow: 0 5px 10px -3px colors('main');
                    color: colors('light');
                }
            }
        }
        &-icon {
            border-radius: $mainRadius;
            background: colors-light('primary');
            color: colors('primary');
            width: 48px;
            height: 48px;
            flex: 0 0 50px;
            font-size: ems(18);
            line-height: 50px;
            text-align: center;
            $shadowColor: colors('main');
            // box-shadow: 0px 2px 4px transparentize($color: $shadowColor, $amount: .8);
        }
        @at-root {
            #{$app + '-folder'} {
                #{$self + '-icon'} {
                    color: colors('bond');
                    background: colors-light('bond');
                }
            }
        }
        &-options {
            padding: 0 ems(15);
        }
        &-name {
            font-weight: bold;
            font-size: ems(14);
        }
        &-size {
            font-size: ems(12);
            color: colors('gloom');
        }
    }
}