@import "../../styles/_functions";
.touch__modal {
  $backdrop: #{& + "-backdrop"};
  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;
    text-align: center;
    background: colors-light('main');
    -webkit-overflow-scrolling: touch;
    z-index: 1000;

    &::before {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
  }
  
  &-wrapper {
    padding-bottom: 24px;
    padding-top: 24px;
    display: inline-block;
    position: relative;
    top: 0;
    vertical-align: middle;
    width: 500px;
  }
  &-content {
    background: white;
    border-radius: $mainRadius;
    box-shadow: 0 0px 25px rgba($color: #000000, $alpha: 0.2);
    text-align: initial;
    overflow: hidden;
  }
  &-header, &-main, &-footer {
    padding: rems(10) rems(20);
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed colors('soft');
    color: white;
    $headings: joinedSelector((1,2,3,4,5,6), 'h');
    #{$headings} {
      margin: 0;
      padding: 0;
    }
  }
  &-main {
    padding-top: rems(25);
    padding-bottom: rems(25);
  }
  &-footer {
    border-top: 1px dashed colors('soft');
  }
}
