@import '../../styles/_functions';
.touch {
    &-btn {
        $self: &;
        $types: typed(#{$self + '-'});
        $alltypes: typedSelector(#{$self + '-'});
        $outlined: #{& + '-outlined'};
        $dashed: #{& + '-dashed'};
        $loading: #{& + '-loading'};
        $transparent: #{& + '-transparent'};
        $spiner: #{& + '-spiner'};
        $icon: #{& + '-icon'};
        $rounded: #{& + '-rounded'};

        // size
        $large: #{& + '-large'};
        $small: #{& + '-small'};

        border: 1px solid transparent;
        background: transparent;
        border-radius: 3px;
        font-size: rems(14);
        white-space: nowrap;
        margin: 0;
        cursor: pointer;

        &-small {
            font-size: rems(12);
        }
        
        &-large {
            font-size: rems(18);
        }

        &:focus, &:active {
            outline: none;
        }

        @at-root {
            #{$alltypes} {
                padding: rems(4) rems(12);
                transition: background-color .3s, color .3s, box-shadow .1s;
                &#{$outlined} {
                    background: transparent;
                }
                &#{$dashed} {
                    border-style: dashed;
                }
                &#{$transparent} {
                    border: none!important;
                    background-color: transparent;
                }
            }
            @each $button, $type in $types {
                #{$button} {
                    $bgc: colors($type);
                    $alternatebgc: colors-light($type);
                    $whiteness: lightness($color: $bgc);
                    background-color: colors($type);
                    border-color: colors($type);
                    @if $whiteness > 70% {
                        color: invert($color: $bgc);
                    } @else {
                        color: white;
                    }
                    &#{$transparent} {
                        @if $whiteness > 70% {
                            color: invert($color: $bgc);
                        } @else {
                            color: $bgc;
                        }
                    }
                    #{$spiner} {
                        &:after {
                            @if $whiteness > 70% {
                                border-top-color: invert($color: $bgc);
                            } @else {
                                border-top-color: white;
                            }
                        }
                    }
                    &#{$outlined} {
                        @if $whiteness > 80% {
                            color: invert($color: $bgc);
                        } @else {
                            color: $bgc;
                        }
                        #{$spiner} {
                            &:after {
                                border-top-color: $bgc;
                            }
                        }
                    }
                    &:hover, &:active {
                        background-color: lighten($color: $bgc, $amount: 3);
                        @if $whiteness > 70% {
                            color: invert($color: $bgc);
                        } @else {
                            color: white;
                        }
                        &#{$transparent} {
                            background: $alternatebgc;
                            @if $whiteness > 70% {
                                color: invert($color: $bgc);
                            } @else {
                                color: $bgc;
                            }   
                        }
                    }
                    &:not(#{$transparent}):active {
                        box-shadow: inset 0 0 3px 3px darken($color: $bgc, $amount: 1);
                    }
                    // &#{$transparent}:active {
                        
                    // }
                }
            }
        }


        &-icon {
            margin-right: rems(4);
            &-only {
                width: rems(32);
                height: rems(32);
                padding: rems(4);
                #{$icon} {
                    margin-right: 0;
                }
                &#{$large} {
                    width: rems(38);
                    height: rems(38);
                }
                &#{$rounded} {
                    border-radius: 100%;
                }
            }
        }
        $spinerwidth: 16;
        &-spiner {
            $fix: rems($spinerwidth / 2);
            position: relative;
            padding-left: 0;
            overflow: hidden;
            transition: padding .5s;
            &:after {
                position: absolute;
                top: calc(50% - #{$fix});
                left: calc(50% - #{$fix});
                border-radius: 100%;
                content: '';
                width: rems($spinerwidth);
                height: rems($spinerwidth);
                border: 2px solid transparent;
                animation: spin .8s linear infinite;
            }
        }
        &-loading {
            position: relative;
            &:not(:disabled) {
                pointer-events: none;
            }
            &:before {
                content: '';
                position: absolute;
                top: -1px;
                right: -1px;
                bottom: -1px;
                left: -1px;
                background-color: rgba($color: #fff, $alpha: .8);
                pointer-events: none;
            }
            #{$spiner} {
                @keyframes grow {
                    to {padding-left: rems($spinerwidth);}
                }
                animation: grow .5s ease-out forwards;
            }
        }
    }
}
@keyframes spin {
	100% {transform: rotate(360deg)}
}