@import "../../styles/_functions";
.touch-notification {
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 0px;
  border-radius: 7px;
  margin-bottom: rems(15);
  transition: height .3s linear, opacity .5s ease-in;
  cursor: pointer;
  $fontSz: 16;

  &:hover {
    background-color: colors-light('soft');
  }

  $notification : &;

  &__inner {
    display: flex;
  }

  &__iconed &__inner{
    padding: rems(10) rems(15);
  }

  &__icon {
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    font-size: rems(18);
    line-height: 48px;
  }

  &__text {
    justify-content: center;
    width: 100%;
    color: black;
    padding: rems(10) rems(15);
    position: relative;
    flex: 1 1 auto;
  }

  &__icon + &__text {
    padding: 0;
    margin-left: rems(10);
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: color .4s;
    line-height: 1.1em;
  }

  &__content {
    font-size: inherit;
    line-height: 1em;
    font-size: rems(14);
    color: colors('gloom');
  }

  &__title + &__content {
    margin-top: .4em;
  }

  $types: typed(#{$notification + '-'});
  @each $selector, $type in $types {
    &#{$selector} {
      #{$notification + '__icon'} {
        color: colors($type);
        background-color: colors-light($type);
      }
    }
    &#{$selector}:hover {
      #{$notification + '__title'} {
        color: colors($type);
      }
    }
  }
}
